<article id="{{ID}}">
    {{#if post_thumbnail}}
    <img src="{{post_thumbnail}}" alt="Headshot of {{post_title}}" />
    {{/if}}
    <h1><a href="{{permalink}}">{{post_title}}</a></h1>
    <p>{{post_excerpt}}</p>
 </article>